.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  position: relative;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: top;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}




